.container {
    position: relative;
}
#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 3px;
    
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }