.video_frame {
    width: 100%;
    position: relative; padding-bottom: 56.25%; /* соотношение 16/9 */
}

.video_frame iframe {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
}